.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 48px;
  gap:48px;
}

.img-box {
  width: 480px;
}

.img-box img {
  width: 480px;
  height: 480px;
  object-fit:contain;
}


.content-box {
  width: 480px;
  position:relative;
}

.title-box {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.rating {
  padding: 4px 8px 4px 0;
}

.category {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 4px 8px 6px;
  font-weight: 600;
}

.desc-box {
  margin-top: 16px;
  letter-spacing: 1px;
}

.price-box {
  margin-top: 4px;
  font-weight: 600;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 240px;
  margin-top: 24px;
}

.button-box button {
  background-color: var(--btn-default);
  cursor: pointer;
  color: white;
  border: none;
  height: 40px;
  width: 120px;
  font-size: 18px;
}